<%= render "layouts/header" %>
<div class="container px-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
<<<<<<< HEAD
      <h3 class="">マイページ</h3>

      <div class="mb-3">
        <h4 class="d-inline mr-5">登録情報</h4>
        <%= link_to "編集する", edit_customer_path(@customer.id), class:"btn btn-success" %>
      </div>

      <table class="table table-hover table-inverse">
=======
      <h3>マイページ</h3>
      <h4>登録情報<%= link_to "編集する", edit_customer_path(@customer.id), class:"btn btn-success" %></h4>
      <table class="table table-hover table-inverse" border="1" style="border-collapse: collapse">
>>>>>>> 02cd0ce9dd66c75eae0e7298371fac224f4b77d7
        <tr>
          <th>氏名</th>
          <td><%= @customer.family_name %><%= @customer.last_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.family_name_kana %><%= @customer.last_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>

      <div class="mb-5">
        <h4 class="d-inline mr-5">配送先</h4>
        <%= link_to "一覧を見る", shipping_addresses_path, class:"btn btn-primary" %>
      </div>
      <h4 class="d-inline mr-4">注文履歴</h4>
      <%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>