<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h3>マイページ</h3>
      <h4>登録情報<%= link_to "編集する", edit_customer_path(customer.id), class:"btn btn-success" %></h4>
      <p>氏名<span></span><%= @customer.family_name %><%= @customer.last_name %></p>
      <p>カナ<span></span><%= @customer.family_name_kana %><%= @customer.last_name_kana %></p>
      <p>郵便番号<%= @customer.postcode %></p>
      <p>住所<%= @customer.address %></p>
      <p>電話番号<%= @customer.phone_number %></p>
      <p>メールアドレス<%= @customer.email %></p>

      <h4>配送先</h4>
      <h4>注文履歴</h4>
    </div>
  </div>
</div>