<%= form_with(model: form, url: admin_items_path, method: :post) do |f| %>
  <div class="form-group">
    <%= f.label :商品画像 %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label :商品名 %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :商品説明 %>
    <%= f.text_area :detail %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "選択してください"} %>
  </div>
  <div class="form-group">
    <%= f.label :税抜価格 %>
    <%= f.number_field :price %>円
  </div>
  <div class="form-group">
    <%= f.radio_button :is_selling, true %>
    <%= f.label :is_selling, "販売中" %>
    <%= f.radio_button :is_selling, false %>
    <%= f.label :is_selling, "販売停止中" %>
  </div>
  <div class="form-group">
    <%= f.submit "新規登録", class: 'btn btn-success' %>
  </div>
<% end %>
