<div class='container px-5'>
  <div class='row'>
    <div class='mx-auto'>
      <h2>商品編集</h2>
      <%= flash[:notice] %>
      <%= form_with(model: @item, url: admin_items_path, method: :patch) do |f| %>
      <!-- エラーメッセージ表示-->
      <% if @item.errors.any? %>
        <h3><%= @item.errors.count %>error occurrence</h3><!--エラーメッセ-->
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <!-- エラーメッセージ表示-->
        <div class="form-group">
          <%= f.label :商品画像 %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div classs="form-group">
          <%= f.label :商品名 %>
          <%= f.text_field :name %>
        </div>
        <div classs="form-group">
          <%= f.label :商品説明 %>
          <%= f.text_area :detail %>
        </div>
        <div class="form-group">
          <%= f.label :ジャンル %>
          <%= f.collection_select(:genre_id, :name, prompt: "選択してください" %>
        </div>
        <div classs="form-group">
          <%= f.label :税抜価格 %>
          <%= f.number_field :price %>円
        </div>
        <div class="form-group">
          <%= f.radio_button :is_selling, true %>
          <%= f.label :is_selling, "販売中" %>
          <%= f.radio_button :is_selling, false %>
          <%= f.label :is_selling, "売切れ" %>
        </div>
        <div classs="form-group">
          <%= f.submit "編集", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>