<%= render 'layouts/header'%>
<div class="container px-5">
  <div class="row">
      
      <div class="col-md-4">
        <h2>商品詳細</h2>
        <%= flash[:notice] %>
        <%= image_tag @item.image %>
      </div>
      <div class="col-md-8">
        <div class="show-group">
          <span>商品名</span>
          <%= @item.name %>
        </div>
        <div class="show-group">
          <span>商品詳細</span>
          <%= @item.detail %>
        </div>
        <div class="show-group">
          <span>ジャンル</span>
          <%=%>
        </div>
        <div class="show-group">
          <span>税込価格</span>
          <%= @item.price %>円
        </div>
        <div class="show-group">
          <span>ステータス</span>
          <%=%>
        </div>
      </div>
  </div>
</div>
