<%= render "layouts/header", customer: @customer %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <p class="h5">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <h2>新着商品</h2>
  <div class="row mt-5">
    <% @top_items.each do |item| %>
      <div class="col">
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: "160x200" %>
          <% end %>
        </div>
        <div>
          <%= link_to item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </div>
        <div>
          ￥<%= item.price %>
        </div>
      </div>
    <% end %>
  </div>
  <p><%= link_to "すべての商品を見る>", items_path %></p>
</div>
