<%= render 'layout/header'%>
<div class="container">
 <div class="row">
  <div class='mx-auto'>
  <span >注文履歴一覧</span>
   <table>
     <tbody>
     <thead>
     <td>
    <tr>
     <th> <span class="border-0">注文日</span></th>
     <th></th>
      <th> <span class="border-0">配送先</span>
      <%= @order.address %></th>
        <th> <span class="border-0">注文商品</span>
        <%= @order.item %>
        </th>
          <th> <span class="border-0">支払金額</span>
          <%= @order.pay_method %></th>
          <th> <span class="border-0">ステータス</span>
           <%= @order.status %></th>
         <th> <span class="border-0">注文詳細</span></th>
           </tr>
           <tr>
             <td><% link_to(@order)do %></td>
           </tr>
    </tbody>

  </table>
  </div>
  </div>
</div>