<div class="container">
  <div class="row">
<%= form_with model: @order,  local: true do |f| %>
<%= f.radio_buttan :pay_method_number1%>
<%= f.label :pay_method_number1, "クレジットカード" %>
<%= f.radio_buttan :pay_method_number2%>
<%= f.label :address_number1, "銀行支払い" %>
<%= f.radio_buttan :address_number1%>
<%= f.label :address_number1, "ご自身の住所" %>
<% current_custamer.custommer_address %>
<% f. radio_buttan :address_number2 %>
<%= f.label :address_number2, "登録先の住所" %>
<% f.collection_select (:registered, current_customer.addresses.all, :id, :address %>
<%= f.radio_buttan :address_number3%>
<%= f.label :address_number3, "新しいお届け先" %>
<%= f.label :postcode,"郵便番号"　%>
<%= f.text_field :postcode %>
<%= f.label :address,"住所"　%>
<%= f.text_field :adress %>
<%= f.lavel :address_name,"宛名"%>
<%= f.text_field :address_name %>
<%= f.submit "確認画面へ進む" %>
<% end %>
</div>
</div>