<%= render "layouts/header" %>
<div class="container px-5">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div class='mx-auto'>
        <table>
          <tr><span class="border-0">注文日</span></th>
          <th><%= @order.created_at.strftime('%Y/%m/%d')%> </th>
          <tr><span class="border-0">配送先</span></th>
          <th><%= @order.postcode %><%= @order.address %><%= @order.address_name %></th>
          <th><span class="border-0">支払金額</span></th>
          <th><%= @order.pay_method %></th>
          <%= label :status, "注文ステータス" %>
          <%#= collection_select :order_id, @order.address, :status %>
        </table>
      <% @order_items.each do |order| %>
        <table>
          <thead>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </thead>
          <tbody>
            <td>
              <%= order.item.name %>
            </td>
            <td><%= order.item.price %></td>
            <td><%= order.quantity %></td>
            <td><%= (order.item.with_tax_price)*(order.quantity) %></td>
            <%= form_with model: order, url: admin_order_item_path(order.id) do |f| %>
              <td><%= f.select :select_address, options_from_collection_for_select(ShippingAddress.all, :id, :address_display) %></td>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>