<%= render "layouts/header" %>
<div class="container px-5">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div class='mx-auto'>

<table>
     <% @orders.each do |order| %>
<tr> <span class="border-0">注文日</span></th>
    <th><%= order.created %> </th>
<tr> <span class="border-0">配送先</span></th>
   <th>   <%= order.shipping_address %></th>
      <th> <span class="border-0">支払金額</span></th>
       <th> <%= order.pay_method %></th>

          <%= f.label :status, "注文ステータス" %>
<% f.collection_select (:order_id, current_customer.addresses, :status) %>


<th> <span class="border-0">商品名</span></th>
<th><span class="border-0">単価</span></th>
<th><span class="border-0">数量</span></th>
<th><span class="border-0">小計</span></th>
<th><span class="border-0">制作ステータス</span></th>
<% @orders.each do |order| %>
<td><th><span class="border-0"><%= @item.name %></span></th>　</td>
<th> <span class="border-0"><%= f.hidden_field :total_price, value: @total %></th>
<th> <span class="border-0"><%= @cart_item.quantity %> </th>
<th> <span class="border-0">(cart.item.price*cart.quantity).to_s(:delimited) %> <!></th>}
<% f.collection_select(:orders_id,current_customer.shipping_addresses, :id, :create_status) %>
</div>
</div>
</div>