<div class='container px-5'>
  <div class='row'>
    <h2>ジャンル編集</h2>
    <%= flash[:notice] %>
      <%= form_with(model: @genre, url: admin_genres_path, method: :patch) do |f| %>
      <!-- エラーメッセージ表示-->
      <% if @genre.errors.any? %>
        <h3><%= @genre.errors.count %>件のエラーが発生しました</h3><!--エラーメッセ-->
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
      <% end %>
      <!-- エラーメッセージ表示-->
        <%= f.label :ジャンル名 %>
        <%= f.text_field :name %>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% end %>
  </div>
</div>