<%= render 'layout/header'%>
<div class="container">
<div class="row">
<%= form_with model:shipping_addresses,local:true do |f| %>
  <div class="form-group">
   <%= f.label :postcode,"郵便番号"　%>
    <%= f.text_field :postcode  %>
  </div>
  <div class="form-group">
   <%= f.label :address,"住所"　%>
    <%= f.text_field :adress %>
  </div>
  <div class="form-group">
  <%= f.lavel :address_name,"宛名"%>
<%= f.text_field :address_name %>
</div>
  <div class="form-group">
    <%= f.submit "変更内容を保存する" %>
  </div>
<% end %>
</div>
</div>




