
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
    <p>配送先登録一覧</p>
<table class="table table-hover table-inverse">
<%= form_with model: @shippingsddress,  local: true do |f| %>
<tr>
<th><%= f.label :post_code,"郵便番号"%></th>
<td><%= f.text_field :post_code %></td>
</tr>
<tr>
<th><%= f.label :address,"住所" %></th>
<td><%= f.text_field :address %></td>
</tr>
<tr>
<th><%= f.label :address_name,"宛名"%></th>
<td><%= f.text_field :address_name %></td>
</tr>
<tr>

<td><%= f.submit "新規登録" %></td>
</tr>
<table >
  <thead>
    <tbody>

      <tr>
        <td><%= link_to(@shipping_address) do %></td>

        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>
</div>
</div>
</div>