
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
    <p>配送先登録一覧</p>

<%= form_with model: @shippingsddress,  local: true do |f| %>
<%= f.label :郵便番号　%>
<%= f.text_field :postcode %>
<br>
<%= f.label :住所　%>
<%= f.text_field :adress %>
<br>
<%= f.label :address_name,"宛名"%>
<%= f.text_field :address_name %>
<br>
<%= f.submit "新規登録" %>

<table >
  <thead>
    <tbody>

      <tr>
        <td><%= link_to(@shipping_address) do %></td>

        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>
</div>
</div>
</div>