<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
    <p>配送先登録一覧</p>
<table class="table table-hover table-inverse">
<%= form_with model: @shippingsddress,  local: true do |f| %>
<tr>
<th><%= f.label :post_code,"郵便番号"%></th>
<td><%= f.text_field :post_code %></td>
</tr>
<tr>
<th><%= f.label :address,"住所" %></th>
<td><%= f.text_field :address %></td>
</tr>
<tr>
<th><%= f.label :address_name,"宛名"%></th>
<td><%= f.text_field :address_name %></td>
</tr>
<tr>

<td><%= f.submit "新規登録",class: "btn-success" %></td>
<% end %>
</tr>

<table >
  <thead>
    <tbody>
     <% @shippingsddress.each do |shippingsddress| %>
      <tr>
        <lionk_to customer_path(shippingsddress.customer) do %>
        <td><th></th><%= link_to @shpping_address.customer,shpping_address_path(@shipping_address) do %></td>
         <% if @shpping_address._id == current_customer.id %>
    <td><%= link_to"編集する", edit_shpping_address_path(@shpping_address.id),class:"btn-sm btn-success" %></td>
   <% if @shpping_address == current_user %>
   <td>  <%= link_to "削除する", book_path(@shpping_address), method: :delete,data: {confirm: "削除しますか？"} %>
        <% end %>
        <% end %>
      </tr>
    <% end %>
    <%end%>
    </tbody>
</table>
</div>
</div>
</div>