<%= render "layouts/header", customer: @customer %>
<div class="container px-5">
  <div class="row">
    <div class="col mx-auto">
      <h2>ショッピングカート</h2>
      <%= flash[:notice] %>
      <div><%= link_to "カートを空にする", destroy_all_path, method: :delete, class:"btn btn-sm btn-danger" %></div>
      <table class="table table-hover table-inverse table-bordered" >
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--<% if current_customer.cart_items.present? %> #カート内に商品があった場合-->
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size: "150x100" %>
                <span><%= cart_item.item.name %></span>
              </td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td>
                <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch) do |f| %>
                  <%= f.select :quantity, *[1..100] %>
                  <%= f.submit "変更", class: 'btn btn-success' %>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td><%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete,class: "btn btn-danger" %></td>
              <% @sum += cart_item.subtotal %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colospan = "5"></th>
            <th>合計金額</th>
            <th>￥<%= @sum %></th>
          </tr>
        </thead>
      </table>
      <div>
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="center-block">
        <% if @cart_items.count == 0 %>
          <%= link_to "情報入力に進む", cart_items_path, class: "btn btn-success" %>
        <% else %>
          <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
        <% end %>
      </div>
  </div>
</div>
