<%= render 'layouts/header', customer: current_customer%>
<div class="container  px-6">
  <div class="row mx-auto">

<h2>注文情報確認</h2>
<table>
    <tbody>
  <th class="table-secondary table-bordered">商品名</th>
  <th class="table-secondary table-bordered">単価(税込)</th>
  <th class="table-secondary table-bordered">数量</th>
  <th class="table-secondary table-bordered">小計</th>
  </tr>
  </tbody>
  <tbody>
<% @cart_items.each do|cart_item|%>
  <tr><th class="table"><%= image_tag cart_item.item.image,size: "60x60" %><%= cart_item.item.name %></th></tr>
          <th class="table"><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></th>
          <th class="table"><%= cart_item.quantity %></th>
          <th class="table"><%= ((cart_item.item.with_tax_price)*(cart_item.quantity)).to_s(:delimited, delimiter: ',') %></th>
          <% @total_price +=(cart_item.item.with_tax_price)*(cart_item.quantity)  %>
          </tr>
          <% end %>
        </tbody>



          </table>
        </div>
        <div class='col-3'>
            <table class="table table-bordered border-dark">

                <tr><th class="table-secondary">送料</th><td><%=@order.postage %></td></tr>
                <tr><th class="table-secondary">商品合計</th><td><%= @total_price %></td></tr>
                <% @order.payment = @order.postage + @total_price %>
                <tr><th class="table-secondary">請求金額</th><td><%= @order.payment %></td></tr>
            </table>
        </div>
    </div>

<p>ご請求金額</p>
<%= @order.payment %> <!-- お買い物の合計金額 -->
 <tr><th>支払方法</th><td class="col-5"><%= @order.payment_method %></td></tr>
<p>お届け先</p>
<%= @order.postcode %>
              <%= @order.postcode %>
                <%= @order.address %>
                <%= @order.address_name %>


<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>

  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" ,class: 'btn btn-success' %>
<% end %>
</div>
</div>