<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class='mx-auto'>
      <h4>注文情報入力</h4>
<table class="table table-hover table-inverse">
 <%= form_with model:@order  do |f| %>
 <tr>
<h5 class="font-weight-bold">支払い方法</h5>
                <tr>
                  
<td><th><%= f.radio_button :pay_method,"credit_card" %></th>
<td><%= f.label :pay_method_number1, "クレジットカード" %></td>
<th><%= f.radio_button :pay_method,"transfer"%></th>
<td><%= f.label :pay_method_number2, "銀行支払い" %></td>
</tr>
<tr>
<h5 class="font-weight-bold">お届け先</h5>
<td><th><%= f.radio_button :shipping_address_number,1%></th>
<th><%= f.label :address_number1, "ご自身の住所" %></th>
<th><% current_customer.address %></th></td>
</tr>
<tr>
<td><th><% f.radio_button :shipping_address_number,2 %></th>
<th><%= f.label :address_number2, "登録先の住所" %></th>
<th><% f.collection_select(:shipping_address_id,current_customer.shipping_addresses, :id, :address) %></th>
</td>
</tr>
<tr>
<td><th><%= f.radio_button :shipping_address_number,3%></th>
<th><%= f.label :address_number3, "新しいお届け先" %></th></td>
</tr>
<tr>
  <td>
<th><%= f.label :postcode,"郵便番号" %></th>
<th><%= f.text_field :postcode %></th></td>
</td>
</tr>
<tr>
  <td>
<th><%= f.label :address,"住所"%></th>
<th><%= f.text_field :address %></th>
</td></tr>
<tr>
  <td>
<th><%= f.label :address_name,"宛名"%></th>
<th><%= f.text_field :address_name %></th>
</td></tr>
<tr>
<td><%= f.submit  "確認画面へ進む",class: 'btn btn-success' %></td>
</tr>
<% end %>
</div>
</div>
</div>