<%= render 'layout/header'%>
<div class="container">
  <div class="row">
    <div class='mx-auto'>
      <h4>注文情報入力</h4>
 <%= form_with model:form do |f| %>
<h5 class="font-weight-bold">支払い方法</h5>
                <p>
<%= f.radio_buttan :pay_method_number1%>
<%= f.label :pay_method_number1, "クレジットカード" %>
<br>
<%= f.radio_buttan :pay_method_number2%>
<%= f.label :pay_method_number2, "銀行支払い" %>

<h5 class="font-weight-bold">お届け先</h5>
<%= f.radio_buttan :address_number1%>
<%= f.label :address_number1, "ご自身の住所" %>
<% current_custamer.custommer_address %>
<br>
<% f. radio_buttan :address_number2 %>
<%= f.label :address_number2, "登録先の住所" %>
<% f.collection_select(:shipping_address_id,current_customer.ShippingAddress.all, :id, :address) %>

<%= f.radio_buttan :address_number3%>
<%= f.label :address_number3, "新しいお届け先" %>
<%= f.label :郵便番号　%>
<%= f.text_field :postcode %>
<%= f.label :address,"住所"　%>
<%= f.text_field :adress %>
<%= f.lavel :address_name,"宛名"%>
<%= f.text_field :address_name %>
<%= f.submit  "確認画面へ進む",class: 'btn btn-success' %>
<% end %>
</div>
</div>
</div>