<%= render "layouts/header",customer: current_customer %>
<div class="container">
  <div class="row">
    <div class='mx-auto'>
      <h4>注文情報入力</h4>
      <p><%= flash[:notice] %></p>
        <%= form_with model: @order ,url: orders_confirm_path do |f| %>
          <table class="table table-hover table-inverse">
            <tr>
              <th>支払い方法</th>
              <td>
                <%= f.radio_button :pay_method,Order.pay_methods.key(0) %>
                <%= f.label :pay_method, Order.pay_methods_i18n[:credit_card] %>
              </td>
              <td>
                <%= f.radio_button :pay_method,Order.pay_methods.key(1)%>
                <%= f.label :pay_method, Order.pay_methods_i18n[:transfer] %>
              </td>
            </tr>
            <th>お届け先</th>
            <tr>
              <td>
                <%= f.label :select_address_1, "ご自身の住所"%>
                <%= f.radio_button :select_address, "1" %>
                <%= current_customer.address %></td>
            </tr>
            <tr>
              <td>
                <%= f.label :select_address_2, "登録先の住所" %>
                <%= f.radio_button :select_address, "2" %>
                <%= f.select :select_address, options_from_collection_for_select(ShippingAddress.all, :id, :address_display) %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :select_address_3, "新しいお届け先" %>
                <%= f.radio_button :select_address, "3" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :postcode,"郵便番号" %></th>
              <td><%= f.text_field :postcode %></td>
            </tr>
            <tr>
              <th><%= f.label :address,"住所"%></th>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <th><%= f.label :address_name,"宛名"%></th>
              <td><%= f.text_field :address_name %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= f.submit  "確認画面へ進む",class: 'btn btn-primary' %></td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>