<%= render "layouts/header" %>
<div class="container px-5">
  <h2>注文履歴詳細</h2>
    <div class="row">
      <div class="col mx-auto">
        <table class="table table-hover table-inverse table-borderless">
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at %> </td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= order.crate_at %></td>
          </tr>

      <tr> <th><span class="border-0"> 配送先</span></th>
     <th> <%= order.address %>
      </th>

      </tr>

       <tr> <th><span class="border-0"> 支払方法</span>
       </th><th><%= order.payment_method %></th>
       </tr>

        <th><span class="border-0"> ステータス</span>
        </th><th><%= order.status %></th>
    </tr>
  </table>
  </div>
</div>
</div>